.navbar {
  transition: all 0.5s ease-in-out;
}

.navbar-effect {
  opacity: 0.9;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.navbar .btn-outline-light:hover {
  color: var(--bs-dark);
}

header {
  background: url(../images/header-background.jpg) center center no-repeat;
  background-size: cover;
}

@media (max-width: 1000px) {
  .image-container {
    display: flex;
    justify-content: center;
  }
}

.frame-decoration {
  display: block;
  width: 100%;
  height: 100px;
}

@media (max-width: 991px) {
  .Details .image-container {
    display: flex;
    justify-content: center;
  }
}

.modal-dialog {
  max-width: 1040px;
}

.model-dialog-2 {
  max-width: 1040px;
}

section.download {
  background: url(../images/download-background.jpg) center center no-repeat;
  background-size: cover;
  height: 60vh;
}

@media (max-width: 991px) {
  section.download {
    height: 85vh;
  }

  section.download .image-container img{
    margin-bottom: 20px;
  }
}
